<% include partials/head.ejs %>
<div class="container">
        <% if(mensaje != '') {%>
        
            <div class="row">
                <div class="col-8 text-center">
                        <div class="alert alert-success" role="alert">
                            <%= mensaje %>
                        </div> 
                </div>
                    
            </div>
    
    <% }else{ %>
    <div class="row">
        <div class="col-8 text-center">
            <h3> <%= title %> </h3>
        </div>
    </div>
    <% } %>
    <div class="col-12 col-md-10 col-lg-8">
            
        <form class="card card-sm"  method="POST" action="/alumno/update">
            <br>
            <input type="hidden" name="id" value="<%= alumno.id %>">
            <div class="row">
                <div class="col-6">
                        <label>Nombre</label>
                <input type="text" name="nombre" value="<%= alumno.nombre %>" class="form-control" placeholder="Nombre">
                </div>
                
                <div class="col-6">
                        <label>Apellido</label>

                        <input type="text" name="apellido" value="<%= alumno.apellido %>" class="form-control" placeholder="Apellido">
                </div>
              </div>

                <div class="row">
                    <div class="col-6">
                            <label>Documento</label>
                    <input type="number" name="documento" value="<%= alumno.documento %>" class="form-control" placeholder="ingrese un número de documento">
                    </div>
                    
                    <div class="col-6">
                        <label>Domicilio</label>
    
                        <input type="text" name="domicilio"  value="<%= alumno.domicilio %>" class="form-control" placeholder="Ingrese un domicilio">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center contenedorBotones">
                        <a href="/alumnos/full" class="btn btn-default"> Volver</a>
                        <button type="submit" class="btn btn-success"> Guardar</button>
                    </div>
                </div>
                <br>
        </form>
    </div>
</div>

<% include partials/footer.ejs %>

<style>
label,
input{
    margin-left: 10px;
}
input{
    max-width: 95%;
}
.contenedorBotones{
    margin-top: 25px;
    margin-bottom: 25px;
}
</style>